body {
	font-family: Verdana, Geneva, sans-serif;
	height: 100%;
	margin-left: 80px;
	margin-top: 120px;
	text-align: left;
	width: 60%;
}

p {
	font-size: 12px;
}

.About {
 background-color: #f2f2f2;
 border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #f2f2f2;
    border-radius: 5px;
}

.headshot {
    position: sticky;
    float: right;
    position: relative;
    bottom: 80px;
    left: 260px;
}

.Journalism {
 background-color: #f2f2f2;
 padding: 5px;
 border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #f2f2f2;
    border-radius: 5px;
}

td {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    width: 33%
    height: 33%;
}

th {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    width: 33%
    height: 33%;
}

tr {
    width: 33%
    height: 33%;
}


.Copywriting {
    background-color: #f2f2f2;
    padding: 5px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #f2f2f2;
    border-radius: 5px;
}  

.Copywriting2 {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.Contact {
    background-color: #f2f2f2;
    padding: 5px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #f2f2f2;
    border-radius: 5px;
}

#corners {
    border-radius: 5px;
}
